<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AZFour - Connect Four Powered by the AlphaZero Algorithm</title>
  <meta name="viewport" content=
    "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes=
    "32x32">
  <meta name="og:image" content="https://azfour.com/img/robot.jpg" />
  <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes=
    "16x16">

  <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel=
    'stylesheet'>
  <link rel="stylesheet" href="/css/style.css">

</head>


<body>

<div class="container">
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <div class="row">
    <div class="col-sm-8" id="leftcol">
      <div id="game-outer">
        <div id="game-base">
          <div id="board" style="cursor: pointer;">
            <div id="game-table-back" class="game-table"></div>
            <div id="game-table" class="game-table"></div>
          </div>
        </div><!-- end base -->

        <div id="scores" >
          <div id="s0">
            0%
          </div>
          <div id="s1">
            0%
          </div>
          <div id="s2">
            0%
          </div>
          <div id="s3">
            0%
          </div>
          <div id="s4">
            0%
          </div>
          <div id="s5">
            0%
          </div>
          <div id="s6">
            0%
          </div>
          <input type="button" id="scoSelectBtn" value="select model"  class="btn btn-success">
        </div>
        <br>
        <div id="estimation" class="form-group">
          <table id="est_table">
            <tr>
              <td><input type="text" id="e0" onblur="inputBoxChange(this)"></input></td>
              <td><input type="text" id="e1" onblur="inputBoxChange(this)"></input></td>
              <td><input type="text" id="e2" onblur="inputBoxChange(this)"></input></td>
              <td><input type="text" id="e3" onblur="inputBoxChange(this)"></input></td>
              <td><input type="text" id="e4" onblur="inputBoxChange(this)"></input></td>
              <td><input type="text" id="e5" onblur="inputBoxChange(this)"></input></td>
              <td><input type="text" id="e6" onblur="inputBoxChange(this)"></input></td>
              <td><input type="button" id="estBtn" value="submit" class="btn btn-primary"></td>
              <td><input type="button" id="estSelectBtn" value="select user" class="btn btn-success"></td>
            </tr>
        </table>
    </div>

        <div class="container" id="rangebarContainer">
          <div class="row">
            <div id="confidence">
              <div class="myslidecontainer">
                <input type="range" min="0" max="100" step="10"
                       value="0" class="myslider" id="confidence0"  onchange="sliderChange(this)">
              </div>
              <div class="myslidecontainer">
                <input type="range" min="0" max="100" step="10"
                       value="0" class="myslider" id="confidence1" onchange="sliderChange(this)">
              </div>
              <div class="myslidecontainer">
                <input type="range" min="0" max="100" step="10"
                       value="0" class="myslider" id="confidence2" onchange="sliderChange(this)">
              </div>
              <div class="myslidecontainer">
                <input type="range" min="0" max="100" step="10"
                       value="0" class="myslider" id="confidence3" onchange="sliderChange(this)">
              </div>
              <div class="myslidecontainer">
                <input type="range" min="0" max="100" step="10"
                       value="0" class="myslider" id="confidence4"  onchange="sliderChange(this)">
              </div>
              <div class="myslidecontainer">
                <input type="range" min="0" max="100" step="10"
                       value="0" class="myslider" id="confidence5"  onchange="sliderChange(this)">
              </div>
              <div class="myslidecontainer">
                <input type="range" min="0" max="100" step="10"
                       value="0" class="myslider" id="confidence6" onchange="sliderChange(this)">
              </div>
            </div>

          </div>
        </div>

        <div id="result"></div>

      </div>
    </div>

    <div class="col-sm-4" style="display:none">
      <div align="center" class="select-group red-model">
        <div class="row">
          <div class="col-xs-4" style=
            "text-align: right; padding-right: 0px;">
            <label>Model</label>
          </div>

          <div class="col-xs-8">
            <input type="text" id="ModelSelect1" value="{{model_choice_c}}" readonly>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-4" style="text-align: right; padding-right: 0px;">
            <label style="padding-top: 3px;" id="Skill1-display">Skill</label>
          </div>

          <div class="col-xs-4">
            <div class="slidecontainer">
              <input type="text" id="Skill1" value="{{skill_choice_c}}" readonly>

            </div>
          </div>
        </div>
      </div>

<input type="text" id="gGameIdd" value="{{gGameIdd}}" style="display:none" readonly>
<input type="text" id="gGameWinnedd" value="{{gGameWinnedd}}"  style="display:none" readonly>
<input type="text" id="gGameDrawedd" value="{{gGameDrawedd}}"  style="display:none" readonly>
<input type="text" id="gGameLostd" value="{{gGameLostd}}"  style="display:none" readonly>

      <div align="center" class="select-group yellow-model" id="yellow-controls" style="display: none">
        <div class="row">
          <div class="col-xs-4" style=
            "text-align: right; padding-right: 0px;">
            <label>Model</label>
          </div>

          <div class="col-xs-8">
            <input type="text" id="ModelSelect2" value="{{model_choice_u}}" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4" style= "text-align: right; padding-right: 0px;">
            <label style="padding-top: 3px;" id= "Skill2-display">Skill</label>
          </div>
          <div class="col-xs-8">
            <div class="slidecontainer">
              <input type="text" id="Skill2" value="{{skill_choice_u}}" readonly>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <!-- data-toggle="modal" opens the modal window -->

  <!-- Modal 1 -->
  <div class="modal fade" id="message-modal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document"><!-- Modal content-->

      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0;">
          
          <h3 class="modal-title" id="modal-title-text">Yellow  Wins!!!</h3>
        </div>
        <div class="modal-body">
          
          <div class="container" style="border-top: 0; ">
            <h4>What's your trust of the agent in this game? </h4>
            <p>Please choose a value</p>
 
    <label class="radio"><input type="radio" name="optradio" value="1" >Trust Level 1</label>
    <label class="radio"><input type="radio" name="optradio" value="2" >Trust Level 2</label>
    <label class="radio"><input type="radio" name="optradio" value="3" >Trust Level 3</label>
     <label class="radio"><input type="radio" name="optradio" value="4" >Trust Level 4</label>
      <label class="radio"><input type="radio" name="optradio" value="5" >Trust Level 5</label>

</div>

<div class="container" style="border-top: 0;">
           <h4>What's your trust of the yourself in this game? </h4>
            <p>Please choose a value</p>
 
    <label class="radio"><input type="radio" name="yourselfRadio" value="1" >Trust Level 1</label>
    <label class="radio"><input type="radio" name="yourselfRadio" value="2" >Trust Level 2</label>
    <label class="radio"><input type="radio" name="yourselfRadio" value="3" >Trust Level 3</label>
     <label class="radio"><input type="radio" name="yourselfRadio" value="4" >Trust Level 4</label>
      <label class="radio"><input type="radio" name="yourselfRadio" value="5" >Trust Level 5</label>
</div>
        </div>

        <div class="modal-footer" style="border-top: 0; padding: 5px;">
          <Button id="newGame1" class="btn btn-success" data-dismiss="modal" disabled=true>OK</Button>
          <!--  
          <a  href="https://www.w3schools.com" id="exit" class="btn btn-secondary" data-dismiss="modal">No</a>
        -->
        </div>
      </div>

    </div>
  </div>


    <!-- Modal -->
  <div class="modal fade" id="message-modal2" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document"><!-- Modal content-->

      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0;">
        </div>
        <div class="modal-body">
           <h4>You have finished the game</h4>
        </div>
        <div class="modal-footer" style="border-top: 0; padding: 5px;">
          
             <Button id="toFinalPage" class="btn btn-success" data-dismiss="modal">OK</Button>
         
         
        </div>
      </div>

    </div>
  </div>



  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.js">
  </script>
  <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>

<script type="text/javascript" src="/js/custom.js"> 
</script>

  <script src="/js/index.js">
  </script>
  <script>
    $( function() {
      $("#slider").slider();
    } );
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124877189-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-124877189-1');
  </script>
</body>
</html>
